@model IEnumerable<BaseSiteWebApp.Models.Categories>

@{
    ViewData["Title"] = "Categories";
}

<h2>Index</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<ul>
@foreach (var item in Model)
{
    <li>@Html.DisplayFor(modelItem => item.CategoryName) - @Html.DisplayFor(modelItem => item.Description)</li>
}
</ul>