@model CategoriesIndexViewModel

@{
    ViewData["Title"] = "Categories";
}

<h2>Categories</h2>

<ul>
@foreach (var item in Model.Categories)
{
    <li>@Html.DisplayFor(modelItem => item.CategoryName) - @Html.DisplayFor(modelItem => item.Description)</li>
}
</ul>